<phpunit bootstrap="./bootstrap.php" colors="true">

        <testsuite name="Project" >
                <directory>./Text</directory>
                <directory>./Data</directory>

        </testsuite>

        <filter>
                <whitelist>
                        <directory suffix=".php">../Text/</directory>
                </whitelist>
        </filter>


</phpunit>

